.App {
  text-align: center;
  background: rgb(4, 60, 110);
  background: linear-gradient(
    45deg,
    rgba(4, 60, 110, 1) 0%,
    rgba(98, 39, 131, 1) 45%,
    rgba(102, 171, 140, 1) 100%
  );
  opacity: 0.9;
  width: 100vw;
  min-height: 100vh;
  color: #fa7c92;
  font-family: "Work Sans", sans-serif;
  font-weight: 300;
  font-size: 16px;
}

.home {
  display: inline-block;
  padding: 80px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 25px;
  color: rgb(103, 207, 160);
  text-decoration: none;
}

.home:hover {
  transform: translateY(2px);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
.header {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 50px;
  color: #fa7c92;
}

.navbar a {
  display: inline-block;
  padding: 10px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 25px;
  color: rgb(103, 207, 160);
}

.navbar a:hover {
  transform: translateY(2px);
  text-decoration: none;
}

.greeting {
  font-size: 20px;
  margin: 0 3% 0 45%;
}

.link {
  float: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 25px;
  color: rgb(103, 207, 160);
}

.link:hover {
  transform: translateY(2px);
  text-decoration: none;
}

button {
  display: inline-block;
  padding: 0.3em 0.5em;
  border: 0.16em solid #ffffff;
  margin: 0 0.3em 0.3em 0;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  color: #d8c5c5;
  text-align: center;
  transition: all 0.15s;
}

button:hover {
  transform: translateY(2px);
  text-decoration: none;
}

form input[type="text"],
input[type="password"] {
  max-width: 200px;
  font-family: "Work Sans", sans-serif;
  box-sizing: border-box;
  padding: 0.4em 1em;
  margin: 0 0.3em 0.3em 0;
}

.timer-container {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 15px;
}

.duration {
  font-size: 15px;
  color: darkturquoise;
}

.new-task-form,
.edit-task-form {
  margin-top: 5px;
  text-align: right;
}
